@using MuensterData.WebApp.Shared

<Fluxor.Blazor.Web.StoreInitializer />
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="d-flex pt-4" style="justify-content:center;">Keine Ahnung, was du suchst, aber hier ist es nicht ¯\_(ツ)_/¯ </div>
        </LayoutView>
    </NotFound>
</Router>
